body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.headerdiv{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

img {
  cursor: pointer;
}


.s {
  width: 80%;
  height: 700px;
  align-items: center;
  margin: auto;
  display: flex;
}
.c {
  height: 700px;
  width: 55%;
  border-right: 1px solid #a89389;
}
#leftimage {
  margin-top: 10;
  width: 100%;
}
.r {
  height: 700px;
  width: 47%;
}
#email {
  width: 490px;
  height: 45px;
  margin-left: 30px;
}
.e {
  display: flex;
  margin-top: 20px;
  margin-left: 30px;
}
#mobile {
  width: 430px;
  height: 45px;
}
.g {
  border: 1px solid #a89389;
  height: 20px;
  width: 40px;
  padding-top: 15px;
  /* padding-right: ; */
  padding: 15px;
  text-align: center;
  color: #666666;
  align-content: space-around;
}
#sha {
  margin-top: 20px;
  height: 45px;
  width: 490px;
  margin-left: 30px;
}
.ku {
  display: flex;
  margin-top: 20px;
  height: 45px;
  width: 490px;
  margin-left: 30px;
}
#password {
  width: 240px;
  height: 45px;
}
#key {
  width: 235px;
  height: 45px;
  margin-left: 10px;
}
.rak {
  display: flex;
  margin-top: 20px;
  margin-left: 30px;
}
input[type="button"] {
  color: white;
  background-color: #ffb919;

  border: 0;
  padding: 10px;
  width: 400px;
  margin-top: 35px;
  margin-left: 90px;
  font-size: large;
  border-radius: 5px;
}
.mi {
  display: flex;
  margin-top: 15px;
  align-content: center;
  align-items: center;
  margin-left: 175px;
}
.moh {
  color: #666666;
}
.pk {
  display: flex;
  border: 1 px solid #a89389;
  width: 200px;
  height: 200px;
}
.cv {
  color: #ffb919;
}
.mn {
  border: 1px solid#666666;
  height: 80px;
  width: 300px;
  margin-left: 30px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
#dh {
  align-items: center;
  width: 20px;
}
.jm {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
  font-weight: 400;
}
.gj {
  margin-left: 70px;
}

/* Header Css */


/* Header css */
.headerdiv {
    background-color: white;
    /* border: 1px solid red; */
    position: sticky;
    /* overflow: hidden; */
    height: 70px;
    top: 0;
    box-shadow: 0px 2px 14px rgb(0 0 0 / 11%);
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.left ul {
    display: inline-flex;
   list-style: none; 
   color: black;
}

.left ul li {
    /* width: 120px; */
    margin: 5px;
    padding: 15px;
}

.left ul li a {
    text-decoration: none;
    color: black;
}

.explore-sub {
    display: none;
}

.left ul li:hover .explore-sub {
    display: block;
    background-color: white;
    position: absolute;
    margin-top: 20px;
    margin-left: -15px;
}
.left ul li:hover .explore-sub ul {
    display: block;
    margin: 10px;
}

.left ul li:hover .explore-sub ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    background: transparent;
    border-radius: 0;
    text-align: left;
    color: black;
}
.left ul li:hover .explore-sub ul li:hover {
    background-color: #ffb919;
}







.left {
    /* border: 1px solid blue; */
    display: inline-block;
    padding-top: 10px;
    
}
.right {
    display: flex;
    justify-content:space-between;
    /* border: 1px solid red; */
    display: inline-block;
    width: 40%;
    /* padding-top: 10px; */
    margin-top: 10px;
}
.headerdiv {
    display: flex;
    justify-content: space-between;
}

.right ul {
   display: flex;
   list-style: none; 
   color: black;
   justify-content: space-between;
}

.right ul li {
    /* width: 120px; */
    margin: 5px;
    padding: 15px;
}

.right ul li a {
    text-decoration: none;
    color: black;
}


.acc {
    display: none;
}

.right ul li:hover .acc {
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-right: -15px;
    background-color: white;
    color: black;
    font-size: 15px;
}
.right ul li:hover .acc ul {
    display: block;
    margin: 10px;
}
.right ul li:hover .acc ul li {
    width: 200px;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    background: transparent;
    border-radius: 0;
    text-align: left;
    color: black;
}
.right ul li:hover .acc ul li:last-child {
    border-bottom: none;
}

.right ul li:hover .acc ul li:hover {
    background-color: rgb(201, 197, 197);
}

.f {
    height: 1500px;
}


.sub-menu-2 {
    display: none;
    /* display: flex; */
}

.hover-me:hover .sub-menu-2 {
    display: flex;
    position: absolute;
    display: block;
    top: 0;
    /* margin-top: 0px; */
    margin-left: 140px;
    background-color: white;
}

.get {
    padding-top: 8px;
    /* padding-right: 8px; */
    border-radius: 10px;
    text-align: center;
    /* align-items: center; */
    width: 150px;
    height: 40px;
    /* border: 1px solid red; */
    background-color: #ffead5;
}

span {
    color: #999999;
}

#bold{
    font-weight: 600;
    color: black;
}
.bold {
    color: black;
    font-weight: 600;
}

.fas {
    font-size: 16px;
}


/* Stay Connected */
#sub {
  /* border: 2px solid green; */
  height: 130px;
  width: 95%;
  margin: auto;
  margin-top: 60px;
  border-radius: 30px;
  background-color: #ecf1fa;
  background-image: url(https://www.ubuy.co.in/skin/frontend/default/ubuycom-v1/images/stay-connected.svg);
}
#subHead {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 70px;
  border-radius: 20px;
  margin: auto;
  padding: 30px;
  margin-left: 110px;
}
#inputButton {
  width: 550px;
  height: 60px;
  border-radius: 30px;
}
#inputBox {
  /* border: 1px solid grey; */
  width: 400px;
  height: 60px;
  border-radius: 25px;
  border-right: none;
}
#subscribe {
  width: 130px;
  height: 50px;
  border-radius: 25px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  background-color: #ffb919;
  color: #ffffff;
  border: none;
}
#subscribe:hover {
  color: black;
  cursor: pointer;
}

#stay {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #151515;
  margin-right: 150px;
}
.heading {
  font-size: 25px;
  line-height: 25px;
}
