body{
    background-color:#f8f8fa;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    cursor: pointer;
  }

#orderCont {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 100%;
    height: 600px;
    margin: auto;
}
#leftSide{
    /* border: 1px solid black; */
    width: 20%;
    height: 90%;
    margin-top:2%;
    margin-right:5px ;
    margin-left: 2%;
    background-color:#f8f8fa;
}
#rightSide{
    /* border: 1px solid black; */
    width: 25%;
    height: 90%;
    margin-top:2%;
    margin-left:15px ;
    
}
#middle{
    /* border: 1px solid black; */
    width: 50%;
    height: 90%;
    margin-top:2%;
    line-height: 0%;
}
/* line hight */
.text-left{
    width: 90%;
    height: 100%;
    border-right: 1px solid rgb(197, 195, 195);
    display: flex;
    flex-direction: column;
    line-height:80%;
    /* flex-wrap: wrap; */
    margin: auto;
    /* margin-top:10%; */
}
.pBold{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    /* line-height: 25px; */
    color: #151515;
}
.pBold1{
    font-size: 12px;
    font-weight: 700;
}
.same {
    display: flex; 
    width: 90%;    
    border-bottom: 1px solid rgb(197, 195, 195); 

}
.same1{
    display: flex; 
    width: 90%;    
    border-bottom: 1px solid rgb(197, 195, 195); 
    font-weight:bold;
}
#wel{
    font-weight:600;
}

#img12{
    width: 18px;
    height: 20px;
}
.palign{
    margin-left: 4%;
    font-size: 12px;
}
#imgalign{
    /* border: 1px solid red; */
    margin-top:6% ;
}
#orderSelect{
    border: none;
    font-weight: 600;
}
#empty{
    width: 95%;
/* height: 20%; */
    border: 1px solid rgb(197, 195, 195);
    background-color: white;
    text-align: center;
    margin: auto;
    padding:10px;
    margin-top: 1%;
}
.empty {
    font-size:12px;
}
#SellingProducts{
    width: 90%;
    height: 70%;
    border: 1px solid gray;
    margin: auto;
}
#btndiv{
    line-height: 0%;
}
#payOrderBtn{
    width: 95%;
    padding:10px;
    background-color: #ffb919;
    border: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
}
#payOrderBtn:hover{
    color: black;
    cursor: pointer;
    
}
.same:hover{
    cursor: pointer;
    font-weight:750;    
    font-size: 30px;
}
#lineOrder{
    border-left: 4px solid #ffb919;
    margin-top:3% ;
    margin-bottom: 3%;
}
#orderSelect:hover{
    cursor: pointer;
}


/* Header css */
.headerdiv{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.headerdiv {
    background-color: white;
    /* border: 1px solid red; */
    position: sticky;
    /* overflow: hidden; */
    height: 70px;
    top: 0;
    box-shadow: 0px 2px 14px rgb(0 0 0 / 11%);
    align-items: center;
}

.left ul {
    display: inline-flex;
   list-style: none; 
   color: black;
}

.left ul li {
    /* width: 120px; */
    margin: 5px;
    padding: 15px;
}

.left ul li a {
    text-decoration: none;
    color: black;
}

.explore-sub {
    display: none;
}

.left ul li:hover .explore-sub {
    display: block;
    background-color: white;
    position: absolute;
    margin-top: 20px;
    margin-left: -15px;
}
.left ul li:hover .explore-sub ul {
    display: block;
    margin: 10px;
}

.left ul li:hover .explore-sub ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    background: transparent;
    border-radius: 0;
    text-align: left;
    color: black;
}
.left ul li:hover .explore-sub ul li:hover {
    background-color: #ffb919;
}







.left {
    /* border: 1px solid blue; */
    display: inline-block;
    padding-top: 10px;
    
}
.right {
    display: flex;
    justify-content:space-between;
    /* border: 1px solid red; */
    display: inline-block;
    width: 40%;
    /* padding-top: 10px; */
    margin-top: 10px;
}
.headerdiv {
    display: flex;
    justify-content: space-between;
}

.right ul {
   display: flex;
   list-style: none; 
   color: black;
   justify-content: space-between;
}

.right ul li {
    /* width: 120px; */
    margin: 5px;
    padding: 15px;
}

.right ul li a {
    text-decoration: none;
    color: black;
}


.acc {
    display: none;
}

.right ul li:hover .acc {
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-right: -15px;
    background-color: white;
    color: black;
    font-size: 15px;
}
.right ul li:hover .acc ul {
    display: block;
    margin: 10px;
}
.right ul li:hover .acc ul li {
    width: 200px;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    background: transparent;
    border-radius: 0;
    text-align: left;
    color: black;
}
.right ul li:hover .acc ul li:last-child {
    border-bottom: none;
}

.right ul li:hover .acc ul li:hover {
    background-color: rgb(201, 197, 197);
}

.f {
    height: 1500px;
}


.sub-menu-2 {
    display: none;
    /* display: flex; */
}

.hover-me:hover .sub-menu-2 {
    display: flex;
    position: absolute;
    display: block;
    top: 0;
    /* margin-top: 0px; */
    margin-left: 140px;
    background-color: white;
}

.get {
    padding-top: 8px;
    /* padding-right: 8px; */
    border-radius: 10px;
    text-align: center;
    /* align-items: center; */
    width: 150px;
    height: 40px;
    /* border: 1px solid red; */
    background-color: #ffead5;
}

span {
    color: #999999;
}

#bold{
    font-weight: 600;
    color: black;
}
.bold {
    color: black;
    font-weight: 600;
}

.fas {
    font-size: 16px;
}